---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

In [297]:
import pandas as pd
import numpy as np
# print("imported required libraries")

In [347]:
# print("fetched data from Energy Indicators.xls excel file")
path="./../Datasets/"
# path=""
energy = pd.read_excel(path+"Energy Indicators.xls",header = None,skiprows=18,skipfooter=38) 
GDP = pd.read_csv(path+"world_bank.csv", skiprows=4) 
ScimEn = pd.read_excel(path+"scimagojr-3.xlsx") 
# print(energy.head())
# print(energy.shape)

In [348]:
# print("dropped unnecesary columns")
energy.drop(axis= 1, labels=[0,1],inplace = True)
energy.head()
# energy[energy["Country"]=="Iran"]
energy.shape

(227, 4)

In [349]:
# print("renamed columns to readable names")
energy.rename(columns = {2:'Country', 3:'Energy Supply', 4:'Energy Supply per Capita', 5:'% Renewable'}, inplace= True)
energy.head()
energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321,10,78.669280
1,Albania,102,35,100.000000
2,Algeria,1959,51,0.551010
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.695650
5,Angola,642,27,70.909090
6,Anguilla,2,136,0.000000
7,Antigua and Barbuda,8,84,0.000000
8,Argentina,3378,79,24.064520
9,Armenia,143,48,28.236060
10,Aruba,12,120,14.870690
11,Australia1,5386,231,11.810810
12,Austria,1391,164,72.452820
13,Azerbaijan,567,60,6.384345
14,Bahamas,45,118,0.000000
15,Bahrain,574,425,0.000000
16,Bangladesh,1625,10,1.966329
17,Barbados,19,69,0.000000
18,Belarus,1142,120,0.463389
19,Belgium,2338,210,9.959739
20,Belize,13,39,64.690030
21,Benin,170,16,0.000000
22,Bermuda,6,88,0.000000
23,Bhutan,63,83,100.000000
24,Bolivia (Plurinational State of),336,32,31.477120
25,"Bonaire, Sint Eustatius and Saba",5,213,0.000000
26,Bosnia and Herzegovina,266,70,41.464670
27,Botswana,86,39,0.131406
28,Brazil,12149,59,69.648030
29,British Virgin Islands,2,85,0.000000
...,...,...,...,...
197,Switzerland17,1113,136,57.745480
198,Syrian Arab Republic,542,28,11.568270
199,Tajikistan,106,13,99.742920
200,Thailand,5336,79,4.305189
201,The former Yugoslav Republic of Macedonia,117,56,26.140470
202,Timor-Leste,7,6,0.000000
203,Togo,134,19,80.180180
204,Tonga,3,28,0.000000
205,Trinidad and Tobago,824,611,0.000000
206,Tunisia,430,39,3.492547
207,Turkey,4897,64,28.536690
208,Turkmenistan,1102,210,0.000000
209,Turks and Caicos Islands,3,85,0.000000
210,Tuvalu,...,...,0.000000
211,Uganda,452,12,68.018180
212,Ukraine18,4844,107,8.067312
213,United Arab Emirates,2710,300,0.000000
214,United Kingdom of Great Britain and Northern I...,7920,124,10.600470
215,United Republic of Tanzania,994,20,31.072840
216,United States of America20,90838,286,11.570980
217,United States Virgin Islands,...,...,0.000000
218,Uruguay,196,58,71.605040
219,Uzbekistan,1798,62,21.328410
220,Vanuatu,3,10,14.705880
221,Venezuela (Bolivarian Republic of),2871,95,67.834520
222,Viet Nam,2554,28,45.321520
223,Wallis and Futuna Islands,0,26,0.000000
224,Yemen,344,13,0.000000
225,Zambia,400,26,99.714670
226,Zimbabwe,480,32,52.536120

In [350]:
# print("Removed dots with None, \n Removed special characters and numbers from Country names \n \n")
energy.replace("...",np.NaN,inplace= True)
energy["Country"] = energy["Country"].str.replace('\d+','')
# energy["Country"].replace("[(*)]",r'',regex=True,inplace=True )
energy.head()
def removeBracketStr(row):
    if "(" in row["Country"]:
        print(row["Country"])
        row['Country'] = row["Country"].split(" (")[0]
    return row
energy = energy.apply(removeBracketStr,axis=1)
# print("Replaced specific Country names with short-hands: \n \n")
def renameVariables(row):
    countryMap = {"Republic of Korea": "South Korea",
                  "United States of America": "United States",
                  "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                  "China, Hong Kong Special Administrative Region": "Hong Kong"}
    if row["Country"] in countryMap.keys():
#         print("replaced {} with {}".format(row["Country"], countryMap[row["Country"]]))
        row.replace(row["Country"],countryMap[row["Country"]], inplace = True)  
    return row
energy = energy.apply(renameVariables, axis = 1)
energy.head()

Bolivia (Plurinational State of)
Falkland Islands (Malvinas)
Iran (Islamic Republic of)
Micronesia (Federated States of)
Sint Maarten (Dutch part)
Venezuela (Bolivarian Republic of)

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan          321.0                      10.0    78.669280
1         Albania          102.0                      35.0   100.000000
2         Algeria         1959.0                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra            9.0                     121.0    88.695650

In [351]:
# print("Converted PetaJ to GiGaJ")
energy["Energy Supply"] = energy["Energy Supply"]*1000000
energy.shape

(227, 4)

In [352]:
# print("Replaced specific Country names with short-hands: \n \n")
def renameVariables2(row):
    countryMap = {"Korea, Rep.": "South Korea", 
                  "Iran, Islamic Rep.": "Iran",
                  "Hong Kong SAR, China": "Hong Kong"}
    if row["Country Name"] in countryMap.keys():
#         print("replaced {} with {}".format(row["Country Name"], countryMap[row["Country Name"]]))
        row.replace(row["Country Name"],countryMap[row["Country Name"]], inplace = True)  
    return row
GDP = GDP.apply(renameVariables2, axis = 1)
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [353]:
# print("fetched data from  scimagojr-3.xlsx xls file")

# print(ScimEn.shape)
GDP.rename(columns={"Country Name" : "Country"},inplace= True)
GDP.head()

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [338]:
# print("setting index as country for all 3 dataFrames \n")
energy.set_index("Country",inplace = True)
GDP.set_index("Country",inplace = True)
ScimEn.set_index("Country",inplace = True)

In [339]:
# print("merging the three datasets intersection")
combinedInnerData = pd.merge(energy,GDP.iloc[:,-10:],how = "inner",left_index=True,right_index=True)
combinedInnerData = pd.merge(ScimEn[ScimEn["Rank"] <= 15], combinedInnerData, how = "inner", left_index=True, right_index=True)
# print(combinedInnerData.shape)
combinedInnerData

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [340]:
combinedInnerData.columns

Index(['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [341]:
def answer_one():
    return combinedInnerData

In [342]:
answer_one()
combinedInnerData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, China to Brazil
Data columns (total 20 columns):
Rank                        15 non-null int64
Documents                   15 non-null int64
Citable documents           15 non-null int64
Citations                   15 non-null int64
Self-citations              15 non-null int64
Citations per document      15 non-null float64
H index                     15 non-null int64
Energy Supply               15 non-null float64
Energy Supply per Capita    15 non-null float64
% Renewable                 15 non-null float64
2006                        15 non-null float64
2007                        15 non-null float64
2008                        15 non-null float64
2009                        15 non-null float64
2010                        15 non-null float64
2011                        15 non-null float64
2012                        15 non-null float64
2013                        15 non-null float64
2014                        15 non-null float64
2015                        14 non-null float64
dtypes: float64(14), int64(6)
memory usage: 2.5+ KB

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [310]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [343]:
# print("merging the three data sets union")
combinedOuterData = pd.merge(energy,GDP.iloc[:,-10:],how = "outer",left_index=True,right_index=True)
combinedOuterData = pd.merge(ScimEn[ScimEn["Rank"] <= 15], combinedOuterData, how = "outer", left_index=True, right_index=True)
# print(combinedOuterData.shape)
combinedOuterData.head()
lostData = combinedOuterData.shape[0] - combinedInnerData.shape[0]
# print(lostData)

In [344]:
lostData = len(combinedOuterData) - len(combinedInnerData)

In [345]:
def answer_two():
    return lostData

In [346]:
answer_two()

290

In [200]:
GDP.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, Aruba to Zimbabwe
Data columns (total 59 columns):
Country Code      264 non-null object
Indicator Name    264 non-null object
Indicator Code    264 non-null object
1960              119 non-null float64
1961              120 non-null float64
1962              120 non-null float64
1963              120 non-null float64
1964              120 non-null float64
1965              127 non-null float64
1966              132 non-null float64
1967              133 non-null float64
1968              137 non-null float64
1969              137 non-null float64
1970              146 non-null float64
1971              146 non-null float64
1972              146 non-null float64
1973              146 non-null float64
1974              147 non-null float64
1975              152 non-null float64
1976              153 non-null float64
1977              158 non-null float64
1978              158 non-null float64
1979              159 non-null float64
1980              172 non-null float64
1981              177 non-null float64
1982              181 non-null float64
1983              181 non-null float64
1984              185 non-null float64
1985              187 non-null float64
1986              190 non-null float64
1987              193 non-null float64
1988              196 non-null float64
1989              199 non-null float64
1990              212 non-null float64
1991              214 non-null float64
1992              217 non-null float64
1993              218 non-null float64
1994              220 non-null float64
1995              226 non-null float64
1996              226 non-null float64
1997              227 non-null float64
1998              228 non-null float64
1999              230 non-null float64
2000              235 non-null float64
2001              236 non-null float64
2002              237 non-null float64
2003              237 non-null float64
2004              237 non-null float64
2005              237 non-null float64
2006              237 non-null float64
2007              237 non-null float64
2008              238 non-null float64
2009              238 non-null float64
2010              243 non-null float64
2011              238 non-null float64
2012              237 non-null float64
2013              237 non-null float64
2014              230 non-null float64
2015              214 non-null float64
dtypes: float64(56), object(3)
memory usage: 133.8+ KB

<br>

Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [197]:
def avg10Gdp(row):
    row["avgGDP"] = row.mean()
    return row

def answer_three():
    Top15 = answer_one().copy()
    answer = Top15.iloc[:,-10:].apply(avg10Gdp,axis = 1)
    answer = answer["avgGDP"]
    answer = answer.sort_values(ascending = False)
    del answer.index.name
    return answer

In [198]:
answer_three()

United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: avgGDP, dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [84]:
def answer_four():
    Top15 = answer_one().copy()
    
    return abs(Top15.loc["United Kingdom","2006"] - Top15.loc["United Kingdom","2015"])

In [85]:
answer_four()

246702696075.3999

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [25]:
def answer_five():
    Top15 = answer_one().copy()
#     print(Top15.loc[:,"Energy Supply per Capita"])
    return Top15["Energy Supply per Capita"].mean()

In [26]:
answer_five()

157.6

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [27]:
def answer_six():
    Top15 = answer_one().copy()
    answer = Top15[Top15["% Renewable"] == Top15["% Renewable"].max()]["% Renewable"]
#     print(Top15[Top15["% Renewable"] == Top15["% Renewable"].max()]["% Renewable"])
    return (answer.keys()[0],answer.iloc[0])

In [28]:
answer_six()

('Brazil', 69.64803)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [153]:
def answer_seven():
    Top15 = answer_one().copy()
    Top15["Citations-Ratio"] = Top15["Self-citations"]/Top15["Citations"]
#     print(Top15["Citations-Ratio"].sort_values())
    answer = Top15[Top15["Citations-Ratio"] == Top15["Citations-Ratio"].max()]["Citations-Ratio"]
    return (answer.keys()[0],answer.iloc[0])

In [154]:
Top15 = answer_one().copy()
Top15["Citations-Ratio"] = Top15["Self-citations"]/Top15["Self-citations"].sum()
Top15.loc[:,["Self-citations","Citations-Ratio"]]
Top15.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Citations-Ratio
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,...,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.393773
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.57098,...,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.253889
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,...,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.058876
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.60047,...,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.036226
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,...,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.011882

In [155]:
answer_seven()

('China', 0.6893126179389422)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [31]:
def answer_eight():
    Top15 = answer_one().copy()
    Top15["Popullation-Estimate"] = Top15["Energy Supply"]/Top15["Energy Supply per Capita"]
#     print(Top15["Popullation-Estimate"].sort_values())
    answer = Top15["Popullation-Estimate"].sort_values()
    answer = (answer.reset_index()
                    .rename(columns = {"index":"Country", 1:"Popullation-Estimate"})
                    .iloc[-3,0])  
             
    return answer

In [32]:
answer_eight()

'United States'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [33]:
def answer_nine():
    Top15 = answer_one().copy()
    Top15["Popullation-Estimate"] = Top15["Energy Supply"]/Top15["Energy Supply per Capita"]
    Top15["Citable documents per Capita"] = Top15["Citable documents"]/Top15["Popullation-Estimate"]
#     print(Top15.loc[:,["Citable documents per Capita","Energy Supply per Capita"]].corr())
    return Top15.loc[:,["Citable documents per Capita","Energy Supply per Capita"]].corr("pearson").iloc[1,0]

In [34]:
answer_nine()

0.7940010435442943

In [35]:
def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one().copy()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

In [36]:
# plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [37]:
def renewableIndex(row,renewableMedian):
    if row["% Renewable"] >= renewableMedian:
        row["Renewable Index"] = 1
    else:
        row["Renewable Index"] = 0
    return row

def answer_ten():
    Top15 = answer_one().copy()
    renewableMedian = Top15["% Renewable"].median()
    answer =(Top15.apply(renewableIndex,args = (renewableMedian,),axis = 1)
            .loc[:,"Renewable Index"]
            .sort_values().rename("HighRenew"))
    return answer

In [38]:
answer_ten()

United States         0.0
Japan                 0.0
United Kingdom        0.0
India                 0.0
South Korea           0.0
Iran                  0.0
Australia             0.0
China                 1.0
Russian Federation    1.0
Canada                1.0
Germany               1.0
France                1.0
Italy                 1.0
Spain                 1.0
Brazil                1.0
Name: HighRenew, dtype: float64

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [39]:
def answer_eleven():
    Top15 = answer_one().copy()
    Top15["Popullation-Estimate"] = Top15["Energy Supply"]/Top15["Energy Supply per Capita"]
    Top15["Continent"] = pd.Series({'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'})
    answer = (Top15.reset_index()
                   .set_index("Continent")
                   .rename(columns={"index" : "Country"})
                   .groupby(level = 0)
                   .agg({"Country" : np.size, "Popullation-Estimate" : [np.sum,np.average,np.std]})  
             )
    answer.columns = answer.columns.droplevel(0)
    answer.rename(columns ={"average" : "mean"}, inplace = True)
    return answer

In [40]:
answer_eleven()

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [43]:
def answer_twelve():
    Top15 = answer_one().copy()
    Top15["Continent"] = pd.Series({'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'})
    answer = Top15.groupby(["Continent",pd.cut(Top15["% Renewable"],5)]).size()
#     answer = (Top15.reset_index()
#                    .rename(columns={"index" : "Country"})
#                    .set_index(["Continent"])
#                    .groupby(level =[0])["% Renewable"].agg({"Country":np.size,"% Renewable" : np.sum})
#              )
#     pd.cut(answer["% Renewable"],5)
#     print(Top15)
    return answer

In [44]:
answer_twelve()

Continent      % Renewable
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
dtype: int64

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [45]:
def answer_thirteen():
    Top15 = answer_one().copy()
    Top15["Popullation-Estimate"] = Top15["Energy Supply"]/Top15["Energy Supply per Capita"]
    answer = Top15["Popullation-Estimate"].apply(lambda x: '{0:,}'.format(x))
    answer = answer.rename("PopEst")
    return answer

In [46]:
answer_thirteen()

China                 1,367,645,161.2903225
United States          317,615,384.61538464
Japan                  127,409,395.97315437
United Kingdom         63,870,967.741935484
Russian Federation            143,500,000.0
Canada                  35,239,864.86486486
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
France                  63,837,349.39759036
South Korea            49,805,429.864253394
Italy                  59,908,256.880733944
Spain                    46,443,396.2264151
Iran                    77,075,630.25210084
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Name: PopEst, dtype: object

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [ ]:
# plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!

In [356]:
def test_energy(countries):
    """
    Input: a series/ the Country column in Energy
    utf-8 encoded i.e. when reading Energy use
    encoding='utf-8'
    """
    encodedC = '11,7,7,14,7,6,8,19,9,7,5,9,7,10,7,7,10,8,7,7,6,5,7,6,7,32,22,8,6,22,17,8,12,7,10,8,8,6,14,24,4,5,5,9,42,8,7,5,12,10,13,7,4,7,6,14,37,32,7,8,8,18,7,5,11,17,7,7,8,14,16,4,7,6,13,16,5,6,7,7,5,9,6,9,7,10,4,9,8,6,13,6,5,8,7,7,5,9,4,4,7,11,6,5,7,5,6,6,10,5,8,6,10,32,6,7,7,7,5,13,9,10,10,6,8,8,4,5,16,10,10,9,6,10,8,10,10,7,10,7,7,5,5,11,13,11,9,5,7,4,24,6,4,8,5,6,16,8,4,11,6,8,11,5,11,19,7,7,18,6,12,21,11,25,32,5,21,12,7,6,10,12,9,12,8,8,15,7,12,11,5,9,18,5,8,9,6,11,20,10,8,41,11,4,5,19,7,6,12,24,6,6,7,20,14,27,13,28,7,10,7,9,8,25,5,6,8'
    outcome = ['Failed\n', 'Passed\n']
    
    
    
    energy = pd.DataFrame()
    energy['original'] = pd.read_excel('./../Datasets/Energy Indicators.xls',
                                   usecols=[1],encoding='utf-8',
                                   index_col=0).loc['Afghanistan':'Zimbabwe'].index.tolist()
    energy['tested'] = countries.str.len()
    energy['actual'] = encodedC.split(',')
    energy['actual'] = energy['actual'].astype(int)
    try:
        energy['Country'] = countries
    except Exception as e:
        print('Failed, error: ',e)
    
    res = 'Test number of records: '
    res += outcome[len(countries)==len(energy)]
    
    res += 'Test the column name: '
    res += outcome [countries.name == 'Country']
    
    res += 'Equality Test: '
    res += outcome[energy['tested'].equals(energy['actual'])]
    
    if not energy['tested'].equals(energy['actual']):
        res += '\nMismatched countries:\n'
        mismatch = energy.loc[energy['tested'] != (energy['actual']), [
            'original', 'Country', 'tested', 'actual']].values.tolist()
        res += '\n'.join('"{:}" miss-cleaned as  "{:}"'.format(o, r)
                         for o, r, s, v in mismatch)
    return res
print(test_energy(energy.loc[:,'Country']))

Test number of records: Passed
Test the column name: Passed
Equality Test: Failed

Mismatched countries:

In [355]:
# def test_gdp(countries):
#     """
#     Input: a series/ the Country column in GDP
#     utf-8 encoded i.e. when reading GDP use
#     encoding='utf-8'
#     """
#     encodedC = '5,7,11,6,7,10,20,9,7,14,19,9,7,10,7,7,5,12,10,8,7,12,22,7,6,7,7,6,8,17,6,8,24,6,30,11,15,5,5,13,8,11,8,7,10,10,22,4,7,14,6,14,7,8,8,7,18,7,43,26,19,45,21,7,16,9,7,5,7,8,14,40,7,4,6,13,21,5,14,7,5,9,6,11,13,17,6,7,9,9,4,6,11,9,8,38,7,5,7,9,16,9,9,9,8,11,5,14,7,4,4,7,6,5,7,6,5,10,5,15,8,8,19,11,6,6,49,7,7,7,5,9,25,44,10,13,9,19,19,7,25,9,10,6,16,24,7,6,7,10,8,26,6,16,13,14,4,5,7,50,10,8,24,10,10,9,6,8,13,7,13,5,7,9,11,6,5,5,11,12,4,18,8,6,4,11,5,16,6,24,11,25,8,8,27,25,16,5,7,18,6,10,12,5,7,9,15,12,11,10,7,6,42,11,18,12,21,8,15,8,6,9,25,10,20,24,4,42,44,4,8,10,12,52,49,11,5,23,41,19,7,6,6,8,6,7,19,7,13,10,30,13,22,21,7,7,18,5,5,11,12,16,6,8'
#     outcome = ['Failed\n', 'Passed\n']
    
    
    
#     GDP = pd.DataFrame()
#     GDP['original'] = pd.read_csv('./../Datasets/World_bank.csv',
#                                   usecols=[0],encoding='utf-8',
#                                   index_col=0).loc['Aruba':'Zimbabwe'].index.tolist()
#     GDP['tested'] = countries.str.len()
#     GDP['actual'] = encodedC.split(',')
#     GDP['actual'] = GDP['actual'].astype(int)
#     try:
#         GDP['Country'] = countries
#     except Exception as e:
#         print('Failed, error: ',e)
    
#     res = 'Test number of records: '
#     res += outcome[len(countries)==len(GDP)]
    
#     res += 'Test the column name: '
#     res += outcome [countries.name == 'Country']
    
#     res += 'Equality Test: '
#     res += outcome[GDP['tested'].equals(GDP['actual'])]
    
#     if not GDP['tested'].equals(GDP['actual']):
#         res += '\nMismatched countries:\n'
#         mismatch = GDP.loc[GDP['tested'] != (GDP['actual']), [
#             'original', 'Country', 'tested', 'actual']].values.tolist()
#         res += '\n'.join('"{:}" miss-cleaned as  "{:}"'.format(o, r)
#                          for o, r, s, v in mismatch)
#     return res
# print(test_gdp(GDP.loc[:,'Country']))

Test number of records: Passed
Test the column name: Passed
Equality Test: Failed

Mismatched countries: